#b{
    font-size: 1px;
    left: 0px;
    height: 0px;
    width: 0px;
    background-color: black;
    align-self: center;
    text-align: center;
    animation: doit 30s linear 0s 1 normal;
}
@keyframes doit{
    from{
        font-size: 1px;
        left: 0px;
        top: 0px;
        height: 0px;
        width: 0px;
        background-color: rgb(203, 220, 149);
    }
    to{
        font-size: 80px;
        left: 1000px;
        top: 100px;
        height: 500px;
        width: 500px;
        background-color: rgb(170, 230, 191);
        align-self: center;
    }
}